<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
	<script src="../../static/css/jspdf.js" th:src="@{/css/jspdf.js}"></script>
	<script src="../../static/css/jquery-2.1.3.js" th:src="@{/css/jquery-2.1.3.js}"></script>
	<script src="../../static/css/pdfFromHTML.js" th:src="@{/css/pdfFromHTML.js}"></script>
</head>

<body>

</body>

</html>
