<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="container">
    <div th:fragment="header">
        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>NB-Trans</h2>
<!--                     <h3>Welcome</h3> -->
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
